* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.second{
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

form.register {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    max-width: 400px;
    width: 100%;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.register-form a {
    text-align: center;
    color: #0066cc;
    text-decoration: none;
    margin-top: 10px;
    font-size: 14px;
}

.register-form a:hover {
    text-decoration: underline;
}

button[type="submit"] {
    background-color: #0066cc;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #004c99;
}
